<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hw5.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <header class="header_search container">
          <input type="search" class="goods-search" v-model="search" placeholder="Поиск по названию" />
          <button class="search-button" type="button" >Искать</button>
          <button class="cart-button" type="button" v-on:click="filteredProducts">Корзина</button>
        </header>
        <main class="goods container">
          <div class="goods-list">
              <div class="good_item" v-for="good in filteredProducts">
                  <img v-bind:src="good.image" alt="">
                  <h3>{{good.productName}}</h3>
                  <p>{{good.productPrice}}</p>
                  <button>Добавить в корзину</button>
              </div>
            </div>
        </main>
      </div>


    
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script src="hw5.js"></script>
    
    
</body>
</html>